.f11px {font-size: 11px;}
.f12px {font-size: 12px;}
.f13px {font-size: 13px;}
.f14px {font-size: 14px;}
.f15px {font-size: 15px;}
.f16px {font-size: 16px;}
.f17px {font-size: 17px;}
.f18px {font-size: 18px;}
.f19px {font-size: 19px;}
.f20px {font-size: 20px;}
.f21px {font-size: 21px;}
.f22px {font-size: 22px;}
.f23px {font-size: 23px;}
.f24px {font-size: 24px;}
.f25px {font-size: 25px;}
.f26px {font-size: 26px;}
.f27px {font-size: 27px;}
.f28px {font-size: 28px;}
.f29px {font-size: 29px;}
.f30px {font-size: 30px;}
.f31px {font-size: 31px;}
.f32px {font-size: 32px;}
.f33px {font-size: 33px;}
.f34px {font-size: 34px;}
.f35px {font-size: 35px;}
.f36px {font-size: 36px;}
.f37px {font-size: 37px;}
.f38px {font-size: 38px;}
.f39px {font-size: 39px;}
.f40px {font-size: 40px;}
.f41px {font-size: 41px;}
.f42px {font-size: 42px;}
.f43px {font-size: 43px;}
.f44px {font-size: 44px;}
.f45px {font-size: 45px;}
.f46px {font-size: 46px;}
.f47px {font-size: 47px;}
.f48px {font-size: 48px;}
.f49px {font-size: 49px;}
.f50px {font-size: 50px;}
.f51px {font-size: 51px;}
.f52px {font-size: 52px;}
.f53px {font-size: 53px;}
.f54px {font-size: 54px;}
.f55px {font-size: 55px;}
.f56px {font-size: 56px;}
.f57px {font-size: 57px;}
.f58px {font-size: 58px;}
.f59px {font-size: 59px;}

.upper {
    text-transform: uppercase;
}

.aligner {
    text-align: center;
}

.centro {
    margin: 0px auto;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.row {
    margin: 0;
}

#header {
    background: url("../img/header.png") no-repeat center top;
    color: #fff;
    padding: 40px 0 20px 0;
}

.foto {
    object-fit: cover;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -50px;
}

.name {
    margin-top: 60px;
}

svg {
    margin-right: 10px;
}

a {
    text-decoration: underline;
    color: #fff;
}

a:hover {
    color: #999;
}

.phone {
    display: inline-flex;
}

.phone p {
    margin-top: -5px;
}

#main {
    background: #f4f4f4;
    padding: 20px 50px
}

h2 {
    font-weight: bold;
    width: 100%;
}

h2 svg {
    background-color: #4b5eab;
    border: 7px solid #4b5eab;
    border-radius: 50%;
    color: #fff;
    margin-right: 40px;
    width: 32px !important;
}

.info p {
    margin: 0 75px 30px;
}

.univ {
    margin-bottom: 30px;
}

.self {
    margin-left: 72px;
    margin-bottom: 0;
}

dl, dd {
    margin-bottom: 0;
}

dd {
    margin-left: 50px;
}

ul {
    margin-left: 32px;
}

.education, .work, .skills {
    margin-bottom: 30px;
}

.paint {
    color: #4b5eab;
    font-weight: bold;
}

